.container__tarjetaServicios{
    width: 300px;
    height: 450px;
    display: flex;
    align-items: end;
    position: relative;

}
.container__tarjetaServicios img{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 10%;
    left: 35%;
}
.TarjetaServicios{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E5E5E5;
    transition: all .2s;
}
.TarjetaServicios:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregado box-shadow */
    cursor: pointer;
}
.TarjetaServicios h1{
    font-size: 25px;
    color: rgb(0, 76, 102);
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    display: flex;
    margin-top: 50px;
    text-align: center;

}

.TarjetaServicios span{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    padding: 15px;
    color: #555555;
    font-weight: 500;
}