.seccionNosotrosHome{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
.seccionNosotrosHome img{
    width: 600px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregado box-shadow */
    border-radius: 7px;



}
.seccionNosotrosHome__info{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 400px;
}

.seccionNosotrosHome h1{
    font-size: 30px;
    color: rgb(80, 182, 185);;
    font-weight: 800;
    font-family: 'Covered By Your Grace', cursive;
}

.seccionNosotrosHome h2{
    font-size: 35px;
    color: rgb(0, 76, 102);
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.seccionNosotrosHome span{
    width: 380px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: rgb(80, 182, 185);;


}

