.container__seccionQuienSoy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccionQuienSoy{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;

}
.seccionQuienSoy__info{
    width: 500px;
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.seccionQuienSoy__info h1{
    text-align: center;
    font-size: 60px;
    line-height: 80px;
    color: rgb(80, 182, 185);;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    
    
}
.seccionQuienSoy__info h2{
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 35px;
    font-weight: 200; 
}
.seccionQuienSoy__info h2 span{
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 60px;
    font-weight: 200; 
    color: rgb(80, 182, 185);
}

.seccionQuienSoy__info span{
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 200;  
}
.seccionQuienSoy__imagenes img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregado box-shadow */
    cursor: pointer;

}



.seccionQuienSoy__proposito{
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.seccionQuienSoy__proposito h1{
    text-align: center;
    font-size: 50px;
    line-height: 80px;
    color: rgb(80, 182, 185);;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;   
}
.seccionQuienSoy__proposito span{
    text-align: start;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 200;  
    margin-left: 30px;
}
.seccionQuienSoy__proposito__imagenes{
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.seccionQuienSoy__proposito__imagenes img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregado box-shadow */
    cursor: pointer;


}
.seccionQuienSoy__proposito__informacion{
    width: 500px;
    display: flex;
    flex-direction: column;
}

