.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicios__titulo  {
    font-size: 50px;
    line-height: 80px;
    color: rgb(0, 76, 102);
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    text-align: center;
     margin-top: 50px;
}
.servicios__tarjetas{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.servicios__tarjetas{
    width: 1000px;
}

.servicios__textoCeleste{
    margin-top: 60px;
}
.container__forumarioSolicitarServicios{
    width: 100%;
    display: flex;
    justify-content: center;
}