.container__footer{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.footer{
    height: 300px;
    display: flex;
    position: relative;
}
.footer img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    filter: brightness(0.4);
}
.header__horarios{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 150px;
    z-index: 1;
}
.header__horarios h1{
    font-family: 'Nunito', sans-serif;
    color: white;
    z-index: 1;

}
.header__horarios span{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: bold;
    z-index: 1;

}
.header__infoDireccion h1{
    font-family: 'Nunito', sans-serif;
    color: white;
    z-index: 1;

}
.header__infoDireccion h2{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: bold;
    z-index: 1;
}
.header__infoDireccion{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 150px;
    z-index: 1;

}